body {
    font-family: sans-serif;
    line-height: 1.5;
  
    background-color: #f9f9f9;
    color: cornflowerblue;
  
    width: 980px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 0;
  }
  
  main > h2 {
    text-align: center;
    font-size: 25px;
  }

  section {
    border: 4mm ridge  rgba(102, 51, 153, .6);
    padding-left: 10px;

  }